.App {
  text-align: center;
}

.form-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1.2rem) 2rem;

  justify-content: center;
  align-items: center;
}

.form-item * {
  width: 100%;
}

.form-item label {
  text-align: start;
}

input {
  padding-left: 0.8rem;
  border-radius: 15px;
  height: 1.4rem
}

input:valid {
  border: 1px solid var(--success-color);
}

input:invalid {
  border: 1px solid var(--error-color);
}

input:placeholder-shown,
input[type='date'][value=''] {
  border: 1px solid black;
}

input:focus {
  border: 1px solid var(--select-color);
}

.validation-error {
  color: var(--error-color);
  max-height: 2.2rem;
}

.material-symbols-outlined {
  cursor: pointer;
}

button {
  justify-self: end;
  border-style: none;
  text-decoration: none;
  text-justify: center;
}

button,
.add-job {
  background-color: var(--header-background-color);
  color: var(--font-color-light);
  border-radius: 1000px;
  padding: 0.45rem 0.75rem;
  font-size: 1rem;
  font-weight: normal;
}
